In [2]:
import pandas as pd

In [6]:
mydataset = {
    "name" : ["srushti","niraj","nikita","soham"],
    'age': [23,25,22,21]
}
myvar = pd.DataFrame(mydataset)
print(myvar)

      name  age
0  srushti   23
1    niraj   25
2   nikita   22
3    soham   21

In [8]:
print(pd.__version__)

1.4.2

In [10]:
ser = pd.Series()
print(ser)

Series([], dtype: float64)

C:\Users\BAPS\AppData\Local\Temp\ipykernel_14192\3252700383.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  ser = pd.Series()

In [11]:
import pandas as pd 
import numpy as np

In [12]:
data = np.array(['d','g','h','j','g'])
ser = pd.Series(data)
print(ser)

0    d
1    g
2    h
3    j
4    g
dtype: object

In [14]:
data = ['d','g','h','j','g']
ser = pd.Series(data)
print(ser)

0    d
1    g
2    h
3    j
4    g
dtype: object

In [22]:
data = {"w": ['d','g','h','j','g']}
ser = pd.DataFrame(data)
print(ser)

   w
0  d
1  g
2  h
3  j
4  g

In [23]:
data = {"w": ['d','g','h','j','g']}

ser = pd.DataFrame(data,index = [10,11,12,13,14])

print(ser)

    w
10  d
11  g
12  h
13  j
14  g

In [25]:
hi = pd.Series(10,index = [1,2,3,4,5,6,7,8])
print(hi)

1    10
2    10
3    10
4    10
5    10
6    10
7    10
8    10
dtype: int64

In [27]:
ser1 = pd.Series(np.linspace(3, 44, 3))
print(ser1)

0     3.0
1    23.5
2    44.0
dtype: float64

In [33]:
import pandas as pd
import numpy as np

ser1 = pd.Series(range(20))
print(ser1)

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
dtype: int64

In [36]:
ser = pd.Series(range(1,20,3),index = [x for x in 'abcdefg'])
print(ser)

a     1
b     4
c     7
d    10
e    13
f    16
g    19
dtype: int64

In [38]:
import pandas as pd
import numpy as np
ser = np.arange(10,20)
serobj =pd.Series(data=ser*5,index=ser)
print(serobj)

10    50
11    55
12    60
13    65
14    70
15    75
16    80
17    85
18    90
19    95
dtype: int32

In [40]:
import pandas as pd
import numpy as np
series_1 =pd.Series([12,14,16])
series_2 =pd.Series([11,13,15])
series_3 =series_1.append(series_2)
print(series_3)

0    12
1    14
2    16
0    11
1    13
2    15
dtype: int64

C:\Users\BAPS\AppData\Local\Temp\ipykernel_14192\2739125077.py:5: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  series_3 =series_1.append(series_2)

In [41]:
series_1 =pd.Series([12,14,16])
series_2 =pd.Series([11,13,15])
series_1 =series_1.append(series_2)
print(series_1)

0    12
1    14
2    16
0    11
1    13
2    15
dtype: int64

C:\Users\BAPS\AppData\Local\Temp\ipykernel_14192\310218887.py:3: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  series_1 =series_1.append(series_2)

In [43]:
series_1 =pd.Series([12,14,16])
series_2 =pd.Series([11,13,15])
series_3 =series_1.append(series_2,ignore_index = True)
print(series_3)

0    12
1    14
2    16
3    11
4    13
5    15
dtype: int64

C:\Users\BAPS\AppData\Local\Temp\ipykernel_14192\2421103975.py:3: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  series_3 =series_1.append(series_2,ignore_index = True)

In [47]:
series_1 =pd.Series([12,14,16])
series_2 =pd.Series([11,13,15])
series_3 =pd.concat([series_1,series_2],axis=0)
print(series_3)

0    12
1    14
2    16
0    11
1    13
2    15
dtype: int64

In [48]:
series_1 =pd.Series([12,14,16])
series_2 =pd.Series([11,13,15])
series_3 =pd.concat([series_1,series_2],ignore_index = True)
print(series_3)

0    12
1    14
2    16
3    11
4    13
5    15
dtype: int64

In [49]:
series_1 =pd.Series([12,14,16])
series_2 =pd.Series([11,13,15])
series_3 =pd.concat([series_1,series_2],axis=1)
print(series_3)

    0   1
0  12  11
1  14  13
2  16  15

In [53]:
series_1 =pd.Series([12,14,16])
series_2 =pd.Series([11,13,15])
series_3 =pd.Series([18,19,20])
series_
series_4 =pd.concat([series_1,series_2,series_3],axis=1)
print(series_4)

    0   1   2
0  12  11  18
1  14  13  19
2  16  15  20

In [2]:
import pandas as pd
import numpy as np

In [6]:
data = {'name':["srushti","niraj","nikita","soham"],
       'qualification':["bsc","bpharm","msc","enginering"]}
df = pd.DataFrame(data)
address =["jalgoan","shirpur","jalgoan","ahemdabad"]
df["address"]=address
df.insert(2, "Age", [21, 23, 24, 21], True)
print(df)

      name qualification  Age    address
0  srushti           bsc   21    jalgoan
1    niraj        bpharm   23    shirpur
2   nikita           msc   24    jalgoan
3    soham    enginering   21  ahemdabad